body { 
    background-color: #DDDBFF;
    font-family: 'Palatino', URW Palladio L, serif; 
    font-size: large;
    color: #412d70;
}
.my_photo {
    background: url(../image/bouncing.gif) no-repeat center center;
    background-size: 100%;
    width: 250px;
    height: 250px;
}
.nav_logo {
    background: url(../image/17139949151421zsez1no.png) no-repeat center center;
    background-size: 100%;
    width: 100px;
    height: 100px;
}
.nav_bar {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 100px;
    position: relative;
}
.form {
    text-align: left;
}
.index {
    text-align: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #412d70;
}
.button_js {
    text-align: center;
    margin-right: 170px;
} 
/*.myButton {
    text-decoration: none;
} */
#myButton {
    
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: absolute;
    overflow: hidden;
}
#myButton:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}
#myButton:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    120deg,
    transparent,
    rgba(145, 146, 247, 0.4),
    transparent
  );
  transition: all 650ms;
}
#myButton:hover:before {
    left: 100%;
}
a { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #412d70;
    text-transform: uppercase;
} 
#demo {
    align-items: center;
}
#demo img {
    margin-top: 150px;
    margin-left: 150px;
    width: 90%;
    text-align: center;
    max-width: 400px;
}
.row {
    position: relative;
}
.row1 {
    text-align: center;
}
.col-9 {

}
.col-3 {
    text-align: center;
    
}
.col-3.nav_logo {

}
.col-12 {
    position: relative;
}
.col-4 {
    text-align: center;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_size {

}
.title_photo {
    text-align: center;
    margin-right: 27px;
}
.form_reg {
    text-align: center;
}
.aaa {
    position: relative;    
    justify-content: center;    
}
form {
    
}
.hello {
    position: relative;
    text-align: center;
}
.cringe {
    text-align: center;
    margin-bottom: 100px;
}
